/* POSITION CONTENT */
.header-bg-color{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}
/* CONTAINER */
.container{
    width: 90%;
    margin: 0 auto;
}
/* NAVBAR */
#all-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font: 500 15px arial;
    color: #000;
    padding: 10px 16px;
    letter-spacing: 5px;
}
.logo b{
    font-weight: bolder;
    padding-right: 10px;
}
.logo a:hover, nav a:hover, .content a:hover{
    background-color: #ccc;
}
nav ul{
    display: flex;
}
nav a{
    display: inline-block;
    font: 500 15px arial;
    color: #000;
    text-transform: capitalize;
    padding: 10px 16px;
    letter-spacing: 5px;
}
/* HEADER */
header{
    background: url("../../img/Bg20.jpg")center/cover;
    height: 100vh;
    margin: 0 10px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font: 500 36px arial;
    color: #f1f1f1;
    letter-spacing: 5px;
}
h1 b{
    font-weight: bolder;
    color: #fff;
    background-color: #000;
    margin-right: 15px;
    padding: 16px;
    opacity: .75;
}

/* MAIN */
main{
    padding: 64px 0 8px 0;
}
.title-1{
    padding-bottom: 42px;
}
h2{
    font: 500 24px arial;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}
#section{
    padding-bottom: 64px;
}
.section{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.img{
    position: relative;
    padding-bottom: 16px;
    width: 330px;
}
.img-1 img{
    display: block;
    width: 100%;
}
h3{
    position: absolute;
    top: 0;
    left: 0;
    font: 500 15px arial;
    color: #fff;
    background-color: #000;
    text-transform: capitalize;
    padding: 10px 16px;
}
/* CONTAINER */
.title-2{
    padding-bottom: 47px;
}
.title-2 p{
    font: 500 15px arial;
    width: 92.46%;
    padding-top: 15px;
}
.content{
    width: 330px;
    padding-bottom: 16px;
}
.content h4{
    font: 500 24px arial;
    padding: 20px 0;
}
.small-text{
    font: 500 15px arial;
    opacity: .6;
}
.small-text-1{
    font: 500 15px arial;
    padding: 15px 0;
}
.content a{
    display: inline-block;
    font: 500 15px arial;
    color: #000;
    background-color: #f1f1f1;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
/* CONTAINER */
#title-3 p{
    font: 500 15px arial;
    padding: 15px 0;
}
.form{
    padding-bottom: 16px;
}
.form input{
    font: 500 16px arial;
    text-transform: capitalize;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
}
.link{
    padding: 16px 0 48px 0;
}
.link a{
    display: inline-block;
    font: 500 15px arial;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    padding: 10px 16px;
}
.link a:hover{
    color: #000;
    background-color: #ccc;
}
.img-map img{
    display: block;
    width: 100%;
}

/* FOOTER */
footer{
    background-color: #000;
    padding: 31px 0;
}
#footer-text p{
    font: 500 15px arial;
    color: #fff;
    text-align: center;
}
#footer-text a{
    color: #fff;
    text-decoration: underline;
}
@media(min-width:768px) and (max-width:1200px){
    header, .title{height: 50vh; margin: 0;}
    .section{flex-wrap: wrap; gap: 0;}
    .img, .content{width: 49%;}
    .img-1{margin: 0;}
    .title-2 p{width: 100%;}
}
@media(max-width:768px){
    nav, .title i{display: none;}
    header, .title{height: 35vh; margin: 0;}
    .section{flex-direction: column; gap: 0;}
    .img, .title-2 p, .content{width: 100%;}
    .img-1{margin: 0;}
}